.bezel .pushbar {
  background-color: #fff;
}

#wrap.remove-pd {
  padding: 0;
}
#wrap.main-wrap {
  overflow: hidden;
}

header {
  max-width: 720px;
  width: 100%;
  height: 58px;
  position: fixed;
  top: 52px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  line-height: 52px;
  z-index: 9;
  background-color: #fff;
}

header .prev-btn a {
  display: block;
  width: 20px;
  height: 20px;
  background: url(../img/main_img/arrow.png) no-repeat center / contain;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
  left: 16px;
}


header h1 {
  font-size: 2rem;
  font-weight: 800;
}


 .content {
    margin-top: 139px;
  }
  .content li{
    border-radius: 24px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  }
  .content li a{
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    color: #999
  }
  /* 왼쪽 아이콘 & 제목 */
  .content li a> div:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
    font-size: 1.6rem;
    margin-right: 29px;
  }
  .content li a> div:first-child img {
    margin-bottom: 6px;
  }
  /* 중앙 데이터 영역 */
  .content li a> div:nth-child(2) {
    flex: 2;
  }
  .content li a dl {
    margin: 6px 0;
  }
  .content li a dt {
    white-space: nowrap;
    font-size: 1.4rem;
    font-weight: 500;
    width: 80px;
  }
  .content li a dd {
    margin: 0;
    font-size: 1.4rem;
    font-weight: 600;
    color: #333;
  }
  .content li a span {
    font-size: 1.8rem;
    font-weight: 900;
    color: #333;
    padding-left: 2px;
    padding-right: 2px;
  }
  /* 오른쪽 점수 원형 */
  .content li a> div:last-child {
    text-align: center;
    font-size: 1.4rem;
    position: relative;
    width: 100px;
    height: 100px;
    align-items: center;
  }
  .content li a> div:last-child img{
    width: 100%;
  }
  .content li a> div:last-child dl{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .content li a> div:last-child span {
    font-size: 1.8rem;
    font-weight: bold;
  }
  .report1 {
    color: #306CE2;
  }
  .report2 {
    color: #68A0E2;
  }
  .report3 {
    color: #96D0D2;
  }

  /*main---------------------------------------*/
  .name{
    margin-top: 120px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #333;
  }
  .name li{
    position: relative;
    width: calc(100% / 3);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    font-weight: 600;
    cursor: pointer;
  }
  .name li.active:after{
    content: "";
    display: block;
    width: 21px;
    height: 3px;
    background-color: #306CE2;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 3px 3px 0 0;
  }

  #heartrate .name li.active:after{
    background-color: #68A0E2;
  }
  #sleep .name li.active:after{
    background-color: #96D0D2;
  }

  .day ul li{
    display: flex;
    justify-content: space-between;
    margin: 32px 8px;
  }
  .left{
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  .left .bold{
    font-weight: 700;
    color: #333;
    font-size: 2rem;
    padding-right: 2px;
  }
  .left .gray{
    font-weight: 400;
    color: #999;
    font-size: 1.4rem;
    margin-left: 2px;
  }

  .left .thin{
    font-weight: 600;
    color: #333;
    font-size: 1.4rem;
    padding-left: 8px;
  }

  .day ul li:nth-child(2){
    margin: 20px 8px 10px;
    font-size: 1.2rem;
    font-weight: 600;
  }
  .day ul li:last-child{
    margin: 0 8px 32px;
    font-size: 1.2rem;
    font-weight: 600;
  }
  .top{
    position: relative;
    width: 90px;
    height: 90px;
  }
  .breath_top{
    background: url(../img/report_img/breath90.png)no-repeat center center / cover;
  }
  .breath_top2{
    background: url(../img/report_img/breath87.png)no-repeat center center / cover;
  }
  .heartrate_top{
    background: url(../img/report_img/pulse75.png)no-repeat center center / cover;
  }
  .heartrate_top2{
    background: url(../img/report_img/pulse81.png)no-repeat center center / cover;
  }
  .sleep_top{
    background: url(../img/report_img/sleep94.png)no-repeat center center / cover;
  }
  .sleep_top2{
    background: url(../img/report_img/sleep95.png)no-repeat center center / cover;
  }
  .sleep_top3{
    background: url(../img/report_img/sleep96.png)no-repeat center center / cover;
  }
  .top > dl{
    font-size: 1.4rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
 .mid dt {
    font-weight: 700;
    margin-bottom: 10px;
 }
  .mid span {
    font-size: 1.8rem;
    font-weight: 700;
 }
 .calendar {
  top: 0;
 }
 .report{
  margin-top: 32px;
 }
 .report .title {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 16px;
 }
 .report .title h2{
  font-size: 1.8rem;
  font-weight: 700;
 }
  .report .title img{
    width: 19px;
    height: 18px;
  }

 .bar1 {
    width: 100%;
    height: 61px;
    border-radius: 10px;
    text-align: center;
    margin: 24px 0;
 }
.bar1 p{
  font-size: 0.8rem;
  text-align: right;
  padding: 0 10px;;
}
.bar1 ul li{
  display: flex;
  align-items: center;
  height: 24px;
  margin: 6px 8px;
}
.bar1 ul li>div{
  width: calc(100% / 3);
}
.gage1{
  font-size: 1.2rem;
  background-color: rgba(153, 153, 153, 0.15);
  border-radius: 20px;
}
.gage1>div:nth-child(2) {
  background-color: #306CE2;
  border-radius: 20px;
  color: #fff;
  font-weight: 700;
  height: 100%;
  line-height: 24px;
}
#heartrate .report .bar1 .gage1>div:nth-child(2){
  background-color: #68A0E2;
  color: #fff;
  font-weight: 700;
  height: 100%;
  line-height: 24px;
}
#sleep .report .bar1 .gage1>div:nth-child(2){
  background-color: #96D0D2;
  color: #fff;
  font-weight: 700;
  height: 100%;
  line-height: 24px;
}

.pick {
  font-size: 1.4rem;
  font-weight: 700;
  color: #333;
}
.gage2{
  background-color: rgba(153,153,153,0.15);
  border-radius: 18px;
  position: relative;
  flex-wrap: wrap;
}
.bar1 .gage2 > div{
  font-size: 1.2rem;
  background-color: rgba(153,153,153,0.15);
  top: 0;
  text-align: left;
  border-radius: 17px;
  height: 24px;
  display: flex;
  align-items: center;
}
.bar1 .gage2 > div:nth-child(1){
  width: 100%;
}
.bar1 .gage2 > div:nth-child(2){
  position: absolute;
  right: 0;
  width: 75%;
}
.bar1 .gage2 > div:nth-child(3){
  position: absolute;
  right: 0;
  width: 50%;
}
.bar1 .gage2 > div:nth-child(4){
  position: absolute;
  right: 0;
  width: 25%;
  background-color: #306CE2;
  color: #fff;
  font-weight: 700;
}
.bar1 .gage2 > div  p{
  text-align: left;
  font-size: 1.2rem;
  position: absolute;
  white-space: nowrap;
}
.bar1 .gage2 > div:nth-child(1)  p{
  left: 12.5%;
  transform: translateX(-50%);
}
.bar1 .gage2 > div:nth-child(2)  p{
  left: calc(100% / 6);
  transform: translateX(-50%);
}
.bar1 .gage2 > div:nth-child(3)  p{
  left: 25%;
  transform: translateX(-50%);
}
.bar1 .gage2 > div:nth-child(4)  p{
  left: 50%;
  transform: translateX(-50%);
}
.text p{
  padding: 0 8px;
  margin: 24px 0 30px;
}
.week ul li{
  display: flex;
  justify-content: space-between;
  margin: 32px 8px;
}
.week ul li:nth-child(2){
  margin: 20px 8px 10px;
  font-size: 1.2rem;
  font-weight: 600;
}
.week ul li:last-child{
  margin: 0 8px 32px;
  font-size: 1.2rem;
  font-weight: 600;
}
.top2{
  position: relative;
  width: 90px;
  height: 90px;
}
.top2 >dl{
  font-size: 1.4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.month ul li{
  display: flex;
  justify-content: space-between;
  margin: 32px 8px;
}
.month ul li:nth-child(2){
  margin: 20px 8px 10px;
  font-size: 1.2rem;
  font-weight: 600;
}
.month ul li:last-child{
  margin: 0 8px 32px;
  font-size: 1.2rem;
  font-weight: 600;
}
.report div:nth-child(2) img{
  margin-top: 20px;
  width: 100%;
}
.graph img{
  width: 100%;
  height: auto;
  margin: 20px auto;
}

























/*  nav -------------------------------*/
.maintab{
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 312px;
  height: 61px;
  display: flex;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
} 
.maintab li{
  width: 25%;
  border-radius: 20px;
}
.maintab li a{
  width: 100%;
  height: 100%;
  display: flex;
  gap: 2px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
  border-radius: 20px;
}

.maintab li a::before{
  content: "";
  display: block;
  width: 25px;
  height: 25px;
}
.maintab li:nth-child(1) a::before{
  background: url(../img/index_img/index_nav01.png) no-repeat center center/contain;
}
.maintab li:nth-child(2) a::before{
  background: url(../img/index_img/index_nav02.png) no-repeat center center/contain;
}
.maintab li:nth-child(3) a::before{
  background: url(../img/index_img/index_nav03.png) no-repeat center center/contain;
}
.maintab li:nth-child(4) a::before{
  background: url(../img/index_img/index_nav01.png) no-repeat center center/contain;
}
.maintab li.active a::before{
  filter: brightness(0) invert(1);
}
.maintab li a{
  font-size: 1.1rem;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
}
.maintab li.active{
  background-color: #5E90F1;
}
.maintab li.active a{
  color: #fff;
}

/* 달력 모달 */
.calendar-modal{
        z-index: 999;
        position: fixed; 
        top: 100%; 
        left: 50%; 
        transform: translateX(-50%);
        width: 100%; 
        height: 90%; 
        background-color:#5E90F1; 
        border-radius: 20px 20px 0 0;
        transition: all 0.5s;
        max-width: 720px;

    }
    .calendar-modal.modal-open{
        top: 10%;
    }
    .calendar-modal-header{
        text-align: center;
        position: relative;
        padding: 20px 0;
        border-bottom: 1px solid #000;
        color: #fff;
        font-size: 1.6rem;
    }
    .calendar-modal-header .tit{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
    }
    .calendar-modal-header h1{
      display: inline-block;
      font-size: 1.6rem;
      background: url(img/arr_w.png) no-repeat right center / 10px auto;
      padding-right: 20px;
    }
    
    .calendar-modal-body{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        margin-top: 60px;
        overflow: scroll;
        text-align: center;
    }
    .modal-close{
        position: absolute;
        top: 50%;
        right: 50px;
        transform: translateY(-50%);
        cursor: pointer;
        font-weight: bold;
    }

    .calendar-tit ul{
      display: flex;
      color: #fff;
      background-color: #5E90F1;
      padding: 10px;
      position: fixed;
      width: 100%;
    }
    .calendar-tit ul li{
      width: calc((100% - 10px) / 7);
      font-size: 1.2rem;
    }
    .open-btn{margin-top: 100px;}
