@charset "utf-8";
.hide {
  display: none;
}
.show {
  display: block;
}


:root {
  --main-color: #5e90f1;
  --sub-color01: #609be1;
  --sub-color02: #3f7aee;
  --bg-color: #E7EFFD;
}

header {
  max-width: 720px;
  width: 100%;
  height: 50px;
  position: fixed;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  line-height: 52px;
  z-index: 9;
}

header::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background: url(../img/main_img/arrow.png) no-repeat center / contain;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
  left: 16px;
}

header h1 {
  font-size: 2rem;
  font-weight: 800;
}

header::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background: url(../img/main_img/setting.png) no-repeat center / contain;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
}

#calendar {
  padding: 20px 0;
  text-align: center;
  border-bottom: 1px solid #ddd;
  position: fixed;
  top: 110px;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  max-width: 680px;
  z-index: 9;
}
#calendar .top {
  position: relative;
  margin-bottom: 20px;
  display: flex;
  padding: 0 7px;
  justify-content: center;
  align-items: center;
}
#calendar .top h1 {
  font-size: 2rem;
}
#calendar .top .icon {
  position: absolute;
  right: 20px;
  cursor: pointer;
}
#calendar .top .icon img {
  width: 100%;
}
#calendar .bottom ul {
  display: flex;
  justify-content: space-between;
  padding: 0 7px;
  font-size: 1.5rem;
  font-weight: 500;
}
#calendar .bottom ul.week {
  margin-bottom: 15px;
}
#calendar .bottom ul li {
  width: 36px;
}
#calendar .bottom ul.week .red {
  color: #ff0000;
}
#calendar .bottom ul.week .blue {
  color: #0056ff;
}
#calendar .bottom ul.day li {
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #3d5fa3;
}
#calendar .bottom ul.day li.active {
  color: #fff;
  background-color: var(--sub-color02);
}

/* history */
#history .sub-title {
  position: fixed;
  width: 100%;
  max-width: 720px;
  padding: 0 20px;
  left: 50%;
  transform: translateX(-50%);
  top: 290px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9;
}

.select {
  position: relative;
  padding: 5px 0 5px 20px;
  width: 100px;
  border-radius: 30px;
  border: 1px solid var(--main-color);
  background: url("../img/main_img/arrow.png") no-repeat center right 10px;
  cursor: pointer;
  text-align: left;
  height: max-content;
  font-size: 1.4rem;
  font-weight: 600;
  background-color: #fff;
}

/* 옵션 영역 스타일 */
.select ul {
  position: absolute;
  width: 100%;
  border: 1px solid var(--main-color);
  border-radius: 10px;
  top: 0;
  left: 0;
  cursor: pointer;
  overflow: hidden;
  background-color: #fff;
  
}
.select ul li {
  padding: 10px;
}
.select ul li:hover {
  background-color: var(--bg-color);
}

#history-list {
  position: absolute;
  top: 340px;
  left: 0;
  width: 100%;
  height: 2000px;
  background-color: orange;
  padding: 0 16px;
}

#history-list ul li {
  
}
