@charset "utf-8";


/* #calendar */
#calendar.type-one{
  padding: 20px 0 5px;
  margin-top: 40px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}
#calendar .top{
  position: relative;
  margin-bottom: 20px;
  display: flex;
  padding: 0 7px;
  justify-content: center;
  align-items: center;
}
#calendar .top h1{
  font-size: 2rem;
}
#calendar .top .icon{
  position: absolute;
  right: 20px;
  cursor: pointer;
}
#calendar .top .icon img{
  width: 100%;
}
#calendar .bottom ul{
  display: flex;
  justify-content: space-between;
  padding: 0 7px; 
  font-size: 1.5rem; 
  font-weight: 500;
}
#calendar .bottom ul.week{
  margin-bottom: 15px;
}
#calendar .bottom ul li{
  width: 36px;
}
#calendar .bottom ul.week .red{
  color: #FF0000;
}
#calendar .bottom ul.week .blue{
  color: #0056FF;
}
#calendar .bottom ul.day li{
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #3D5FA3;
}
#calendar .bottom ul.day li.active{
  color: #fff;
  background-color: #3F7AEE;
}


/* .캘린더 모달창 */
.calendar-modal{
  z-index: 999;
  position: fixed;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 90%;
  background-color:#5E90F1;
  border-radius: 20px 20px 0 0;
  transition: all 0.5s;
  max-width: 720px;
}
.calendar-modal.modal-open{
  top: 10%;
}
.calendar-modal-header{
  text-align: center;
  position: relative;
  padding: 20px 0;
  border-bottom: 1px solid #000;
  color: #fff;
  font-size: 1.6rem;
}
.calendar-modal-header .tit{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.calendar-modal-header h1{
  display: inline-block;
  font-size: 1.6rem;
  background: url(img/arr_w.png) no-repeat right center / 10px auto;
  padding-right: 20px;
}

.calendar-modal-body{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  margin-top: 60px;
  overflow: scroll;
  text-align: center;
}
.modal-close{
  position: absolute;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
  cursor: pointer;
  font-weight: bold;
}

.calendar-tit ul{
  display: flex;
  justify-content: center;
  color: #fff;
  background-color: #5E90F1;
  padding: 10px;
  position: fixed;
  width: 100%;
}
.calendar-tit ul li{
  width: calc(340px / 7);
  font-size: 1.2rem;
}
.open-btn{margin-top: 100px;}



/* #graph */
#graph{
  margin-bottom: 20px;
}

#graph h2{
  margin: 10px 0 5px;
  font-size: 1.8rem;
  font-weight: 700;
}

#graph .time{
  display: flex;
  justify-content: space-between;
}
#graph .time li{
  width: calc(100% / 5);
  text-align: center;
  background: #5E90F1;
  color: white;
  font-size: 1.3rem;
  padding: 2px 0;
}

#graph > div{
  background: #EFF4FE;
  width: 100%;
  height: 45px;
  border-bottom: 2px solid white;
  position: relative;
}
#graph div::before{
  content: "";
  display: block;
}

#graph div img{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  z-index: 9990;
}

#graph .line1 img:nth-child(1){
  left: 8%;
}
#graph .line1 img:nth-child(2){
  left: 30%;
}
#graph .line1 img:nth-child(3){
  left: 73%;
}
#graph .line1 img:nth-child(4){
  left: 87%;
}

#graph .line2 img:nth-child(1){
  left: 30%;
}
#graph .line2 img:nth-child(2){
  left: 32%;
}
#graph .line2 img:nth-child(3){
  left: 60%;
}
#graph .line2 img:nth-child(4){
  left: 67%;
}

#graph .line3 img:nth-child(1){
  left: 32%;
}
#graph .line3 img:nth-child(2){
  left: 35%;
}
#graph .line3 img:nth-child(3){
  left: 55%;
}
#graph .line3 img:nth-child(4){
  left: 60%;
}

#graph .line4 img:nth-child(1){
  left: 35%;
}
#graph .line4 img:nth-child(2){
  left: 55%;
}
#graph .line4 img:nth-child(3){
  left: 67%;
}
#graph .line4 img:nth-child(4){
  left: 73%;
}

#graph .line4 .item1{
  position: absolute;
  padding: 3px 8px;
  background: linear-gradient(90deg,rgba(243, 151, 130, 1) 0%, rgba(232, 92, 59, 1) 100%);
  color: white;
  font-size: 1.3rem;
  border-radius: 30px;
  top: 50%;
  transform: translateY(-50%);
  left: 36%;
  z-index: 9999;
}
#graph .line4 .item2{
  position: absolute;
  padding: 3px 8px;
  background: linear-gradient(90deg,rgba(240, 131, 238, 1) 0%, rgba(211, 31, 207, 1) 100%);
  color: white;
  border-radius: 30px;
  top: 50%;
  transform: translateY(-50%);
  left: 67%;
  z-index: 9999;
}


#graph .line1::before{
  width: 25px;
  height: 17px;
  background: url(../img/pattern/icon_01.png) no-repeat center / cover;
  position: absolute;
  left: 3%;
  top: 50%;
  transform: translateY(-50%);
}
#graph .line2::before{
  width: 17px;
  height: 25px;
  background: url(../img/pattern/icon_02.png) no-repeat center / cover;
  position: absolute;
  left: 4.5%;
  top: 50%;
  transform: translateY(-50%);
}
#graph .line3::before{
  width: 20px;
  height: 20px;
  background: url(../img/pattern/icon_03.png) no-repeat center / cover;
  position: absolute;
  left: 4%;
  top: 50%;
  transform: translateY(-50%);
}
#graph .line4::before{
  width: 22px;
  height: 25px;
  background: url(../img/pattern/icon_04.png) no-repeat center / cover;
  position: absolute;
  left: 4%;
  top: 50%;
  transform: translateY(-50%);
}

#graph #bar-box{
  position: absolute;
  z-index: 999;
  width: 100%;
  height: 186px;
}
#graph #bar-box .bar1{
  width: 18%;
  height: 2%;
  background-color: #C4D6FA;
  position: absolute;
  left: 10%;
  top: 10%;
}
#graph #bar-box .bar2{
  width: 4px;
  height: 25%;
  background-color: #C4D6FA;
  position: absolute;
  left: 29%;
  top: 10%;
}
#graph #bar-box .bar3{
  width: 3%;
  height: 2%;
  background-color: #C4D6FA;
  position: absolute;
  left: 29%;
  top: 34%;
}
#graph #bar-box .bar4{
  width: 4px;
  height: 25%;
  background-color: #C4D6FA;
  position: absolute;
  left: 30.7%;
  top: 34%;
}
#graph #bar-box .bar5{
  width: 4%;
  height: 2%;
  background-color: #C4D6FA;
  position: absolute;
  left: 31%;
  top: 59%;
}
#graph #bar-box .bar6{
  width: 4px;
  height: 25%;
  background-color: #C4D6FA;
  position: absolute;
  left: 33.5%;
  top: 59%;
}
#graph #bar-box .bar7{
  width: 18%;
  height: 2%;
  background-color: #C4D6FA;
  position: absolute;
  left: 33.5%;
  top: 83%;
}
#graph #bar-box .bar8{
  width: 4px;
  height: 25%;
  background-color: #C4D6FA;
  position: absolute;
  left: 51.5%;
  top: 59%;
}
#graph #bar-box .bar9{
  width: 4%;
  height: 2%;
  background-color: #C4D6FA;
  position: absolute;
  left: 52%;
  top: 59%;
}
#graph #bar-box .bar10{
  width: 4px;
  height: 25%;
  background-color: #C4D6FA;
  position: absolute;
  left: 56%;
  top: 35%;
}
#graph #bar-box .bar11{
  width: 8%;
  height: 2%;
  background-color: #C4D6FA;
  position: absolute;
  left: 56%;
  top: 34.5%;
}
#graph #bar-box .bar12{
  width: 4px;
  height: 50%;
  background-color: #C4D6FA;
  position: absolute;
  left: 62.5%;
  top: 35%;
}
#graph #bar-box .bar13{
  width: 6%;
  height: 2%;
  background-color: #C4D6FA;
  position: absolute;
  left: 63%;
  top: 83%;
}
#graph #bar-box .bar14{
  width: 4px;
  height: 75%;
  background-color: #C4D6FA;
  position: absolute;
  left: 68%;
  top: 10%;
}
#graph #bar-box .bar15{
  width: 14%;
  height: 2%;
  background-color: #C4D6FA;
  position: absolute;
  left: 68%;
  top: 10%;
}


/* #schedule */

#schedule{
  margin-bottom: 25px;
}
#schedule .title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}
#schedule .title h2{
  font-size: 1.8rem;
  font-weight: 700;
}
#schedule .title .icon{
  display: flex;
  gap: 15px;
  filter: brightness(0);
  opacity: 0.5;
}
#schedule .title .icon li{
  width: 15px;
  height: 15px;
}
#schedule .title .icon li img{
  width: 100%;
}

#schedule .content{
  position: relative;
}
#schedule .content .week{
  display: flex;
}
#schedule .content .week li{
  width: calc((100% - 21px) / 7);
  font-size: 1.3rem;
  font-weight: 500;
  background: #E7EFFD;
  text-align: center;
  padding: 2px 0;
  border-right: 1px solid white;
}
#schedule .content .week li:first-child{
  width: 21px;
  border-radius: 19px 0 0 0;
}
#schedule .content .week li:last-child{
  border-radius: 0 19px 0 0;
  border-right: 0;
}

#schedule .content .line{
  display: flex;
}
#schedule .content .line li{
  width: calc((100% - 21px) / 7);
  height: calc(180px / 4);
  font-size: 1.3rem;
  font-weight: 500;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  position: relative;
}
#schedule .content .line li:first-child{
  width: 21px;
  border-top: 1px solid white;
  border-right: 0;
  border-bottom: 0;
  background: #E7EFFD;
}
#schedule .content .line:last-child li:first-child{
  border-radius: 0 0 0 19px;
}
#schedule .content .line:last-child li:last-child{
  border-radius: 0 0 19px 0;
}

#schedule .content p{
  position: absolute;
  font-size: 1.2rem;
  font-weight: 700;
  display: flex;
}
#schedule .content li p.item1{
  top: 40%;
  left: 5%;
}
#schedule .content li p.item2{
  top: 40%;
  left: 5%;
}
#schedule .content li p.item3{
  top: 0;
  left: 5%;
}
#schedule .content li p.item4{
  top: 0;
  left: 5%;
}
#schedule .content li p.item5{
  top: 50%;
  left: 5%;
}
#schedule .content li p.item6{
  top: 0;
  left: 5%;
}


#schedule .content li p::before{
  content: "";
  display: block;
  width: 3px;
  border-radius: 10px;
  margin-right: 4px;
}
#schedule .content li p.item1::before{
  height: 68px;
  background: linear-gradient(0deg,rgba(232, 92, 59, 0.3) 0%, rgba(232, 92, 59, 0.8) 100%);
}
#schedule .content li p.item2::before{
  height: 50px;
  background: linear-gradient(0deg,rgba(46, 142, 210, 0.5) 0%, rgba(46, 142, 210, 1) 100%);
}
#schedule .content li p.item3::before{
  height: 40px;
  background: linear-gradient(0deg,rgba(232, 92, 59, 0.3) 0%, rgba(232, 92, 59, 0.8) 100%);
}
#schedule .content li p.item4::before{
  height: 20px;
  background: linear-gradient(0deg,rgba(211, 31, 207, 0.5) 0%, rgba(211, 31, 207, 1) 100%);
}
#schedule .content li p.item5::before{
  height: 65px;
  background: linear-gradient(0deg,rgba(174, 233, 189, 0.5) 0%, rgba(174, 233, 189, 1) 100%);
}
#schedule .content li p.item6::before{
  height: 90px;
  background: linear-gradient(0deg,rgba(174, 233, 189, 0.5) 0%, rgba(174, 233, 189, 1) 100%);
}



/* navi */
.maintab{
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 312px;
  height: 61px;
  display: flex;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
}
.maintab li{
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
  border-radius: 20px;
  cursor: pointer;
}
.maintab li::before{
  content: "";
  display: block;
  width: 25px;
  height: 25px;
}
.maintab li:nth-child(1)::before{
  background: url(../img/index_img/index_nav01.png) no-repeat center center/contain;
}
.maintab li:nth-child(2)::before{
  background: url(../img/index_img/index_nav02.png) no-repeat center center/contain;
}
.maintab li:nth-child(3)::before{
  background: url(../img/index_img/index_nav03.png) no-repeat center center/contain;
}
.maintab li:nth-child(4)::before{
  background: url(../img/index_img/index_nav01.png) no-repeat center center/contain;
}
.maintab li.active::before{
  filter: brightness(0) invert(1);
}
.maintab li a{
  font-size: 1.1rem;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
}
.maintab li.active{
  background-color: #5E90F1;
}
.maintab li.active a{
  color: #fff;
}



/* 일정 추가 */
/* header */
header {
  max-width: 720px;
  width: 100%;
  height: 58px;
  position: fixed;
  top: 52px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  line-height: 52px;
  z-index: 9;
  background-color: #fff;
  }
  
  header .prev-btn a {
    display: block;
    width: 20px;
    height: 20px;
    background: url(../img/main_img/arrow.png) no-repeat center / contain;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
    left: 16px;
  }
  
  
  header h1 {
    font-size: 2rem;
    font-weight: 800;
  }


/* #tit */
#tit{
  margin-top: 120px;
}
#tit form{
  position: relative;
}
#tit form input{
  padding: 15px 5px;
  background-color: transparent;
  font-size: 1.6rem;
  border-bottom: 1px solid #ddd;
  width: 100%;
}
#tit form input::placeholder{
  color: #999;
  font-size: 1.6rem;
}

#tit form .tit-icon{
  display: flex;
  gap: 15px;
  position: absolute;
  right: 5px;
  bottom: 50%;
  transform: translateY(30%);
}
#tit form .tit-icon .icon{
  width: 20px;
  height: 20px;
  cursor: pointer;
}
#tit form .tit-icon .icon img{
  width: 100%;
}
#tit form .tit-icon .color{
  width: 20px;
  height: 20px;
  background-color: #AEE9BD;
  border-radius: 50%;
  cursor: pointer;
}

.icon-box{
  width: 308px;
  height: 155px;
  background: url(../img/pattern/pattern_04.png) no-repeat center / cover;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px -5px rgba(0,0,0,0.15);
  border-radius: 10px;
  position: absolute;
  right: 16px;
  margin-top: 5px;
  z-index: 99;
}

.color-box{
  width: 260px;
  height: 85px;
  background: url(../img/pattern/pattern_05.png);
  border: 1px solid #ddd;
  box-shadow: 0 0 10px -5px rgba(0,0,0,0.15);
  border-radius: 10px;
  position: absolute;
  right: 16px;
  margin-top: 5px;
  z-index: 99;
}


/* #time */
#time{
  padding: 25px 5px;
  border-bottom: 1px solid #ddd;
}
#time .time-tit{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
#time .time-tit li:first-child{
  font-size: 1.6rem;
  font-weight: 700;
}

#time .time-tit .toggle{
  margin-top: 2px;
}

#time .time-tit .toggle span{
  font-size: 1.2rem;
}

label {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

[type="checkbox"] {
  appearance: none;
  position: relative;
  border-radius: 20px;
  width: 40px;
  height: 20px;
  background-color: #E9E9EA;
}

[type="checkbox"]::before {
  content: "";
  position: absolute;
  left: 2px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: white;
  transition: left 250ms linear;
  box-shadow: 0 1px 1px rgba(0,0,0,0.3);
}

[type="checkbox"]:checked {
  background-color: #5E90F1;
}

[type="checkbox"]:checked::before {
  background-color: white;
  left: 22px;
}

[type="checkbox"]:focus-visible {
  outline-offset: max(2px, 0.1em);
  outline: max(2px, 0.1em) solid tomato;
}


#time .setting{
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
  text-align: center;
}
#time .setting li:first-child, #time .setting li:last-child{
  width: calc((100% - 30px) / 2);
}
#time .setting li p{
  font-size: 1.8rem;
  font-weight: 700;
  cursor: pointer;
}
#time .setting .arrow{
  width: 30px;
  height: 5px;
  background: url(../img/pattern/arrow.png) no-repeat center / cover;
  margin-top: 24px;
}


/* #timeset */
#timeset{
  padding: 25px 60px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  height: 147px;
}
#timeset ul{
  display: flex;
  justify-content: space-between;
  height: 100%;
}
#timeset ul li{
  width: calc(100% / 3);
  font-size: 1.8rem;
  font-weight: 500;
  color: #999;
  height: 100%;
  cursor: pointer;
}
#timeset ul li .active{
  color: black;
}


/* #timegap */
#timegap{
  padding: 25px 5px;
  border-bottom: 1px solid #ddd;
}
#timegap .flex{
  display: flex;
  justify-content: space-between;
}
#timegap .flex .tit{
  font-size: 1.6rem;
  font-weight: 700;
}

#timegap .flex .selet{
  display: flex;
  gap: 10px;
}
#timegap .flex .selet li{
  padding: 5px 15px;
  border-radius: 50px;
  background-color: #E7EFFD;
  font-size: 1.4rem;
  font-weight: 500;
  cursor: pointer;
}
#timegap .flex .selet li.active{
  background-color: #5E90F1;
  color: white;
}

#timegap span{
  font-size: 1.2rem;
  color: #999;
  display: block;
  padding-top: 20px;
}


#repeat{
  padding: 25px 5px;
  border-bottom: 1px solid #ddd;
}
#repeat .flex{
  display: flex;
  justify-content: space-between;
}
#repeat .flex .tit{
  font-size: 1.6rem;
  font-weight: 700;
}

#repeat .flex .select{
  display: flex;
  gap: 10px;
}
#repeat .flex .select li{
  font-size: 1.4rem;
  font-weight: 500;
  padding: 5px 15px;
  background-color: #E7EFFD;
  border-radius: 50px;
  cursor: pointer;
}
#repeat .flex .select li.active{
  background-color: #5E90F1;
  color: white ;
}

#repeat .week{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
#repeat .week li{
  padding: 10px 13px;
  font-size: 1.4rem;
  font-weight: 500;
  border: 1px solid #C2D5FA;
  border-radius: 50%;
  cursor: pointer;
}

#repeat .week .active{
  background-color: #E7EFFD;
  color: #3F7AEE;
  font-weight: 700;
}


#repeat .month .toggle{
  padding: 20px 0 10px;
  display: flex;
  justify-content: end;
}

#repeat .month .month-select{
  margin-bottom: 10px;
  display: flex;
  gap: 10px;
}

#repeat .month .month-select li{
  padding: 5px 15px;
  background-color: #E7EFFD;
  border-radius: 50px;
  font-size: 1.4rem;
  font-weight: 500;
  cursor: pointer;
}

#repeat .month .month-select .active{
  background-color: #5E90F1;
  color: white;
}

#repeat .month .month-slide{
  padding: 15px 0;
  background-color: #E7EFFD;
  text-align: center;
}

#repeat .month .month-slide li{
  font-size: 1.8rem;
  font-weight: 500;
  color: #999;
  cursor: pointer;
  white-space: nowrap;
}

#repeat .month .month-slide .active{
  color: black;
}

#repeat .month p{
  font-size: 1.2rem;
  color: #999;
  margin-top: 10px;
  display: flex;
  justify-content: end;
}


/* bottom-btn */
.bottom-btn {
  position: absolute;
  bottom: 42px;
  left: 0;
  padding: 0 16px;
  width: 100%;
}
.bottom-btn a {
  width: 100%;
  height: 52px;
  display: block;
  background-color: #5E90F1;
  border-radius: 8px;
  position: relative;
}
.bottom-btn a p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-weight: 600;
  font-size: 2rem;
}


/* 일정 관리 */
.option{
  padding: 120px 5px 20px;
  border-bottom: 1px solid #ddd;
}
.option ul{
  display: flex;
  gap: 10px;
}
.option ul li{
  font-size: 1.4rem;
  font-weight: 500;
  padding: 5px 15px;
  background-color: #E7EFFD;
  border-radius: 50px;
  cursor: pointer;
}
.option ul .active{
  background-color: #5E90F1;
  color: white;
}



#calendar{
  margin-top: 0;
  padding: 20px 0 10px;
  border-bottom: 1px solid #ddd;
}

#calendar .bottom .day{
  margin-bottom: 10px;
}

#calendar .bottom .day .grey{
  color: #999;
}

#calendar .bottom .day li{
  position: relative;
}

#calendar .bottom .day .line::before{
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #A7CCF8;
  position: absolute;
  bottom: 0;
}

#schedule{
  padding: 0 5px;
}
#schedule > ul{
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
#schedule > ul:last-child{
  margin-bottom: 0;
}

#schedule .txt-box span{
  display: block;
  color: #999;
  margin-bottom: 10px;
}

#schedule .txt-box .txt-flex{
  display: flex;
  gap: 10px;
}
#schedule .txt-box .txt{
  font-size: 1.6rem;
  font-weight: 700;
}
#schedule .txt-box .repeat{
  font-size: 1.2rem;
  font-weight: 500;
  padding: 2px 7px 2px;
  background-color: #E7EFFD;
  color: #5E90F1;
  border-radius: 30px;
  display: flex;
  gap: 5px;
  align-items: center;
}

#schedule .txt-box .repeat::before{
  display: block;
  content: "";
  width: 11px;
  height: 8px;
  background: url(../img/pattern/pattern_06.png) no-repeat center / cover;
}

#schedule .trash{
  width: 11px;
  height: 14px;
  background: url(../img/pattern/pattern_07.png) no-repeat center / cover;
  margin-top: 19px;
  cursor: pointer;
}

#schedule > ul > li.txt-box{
  position: relative;
  padding-left: 20px;
}
#schedule > ul > li.txt-box::before{
  content: "";
  display: block;
  width: 5px;
  height: 52px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
}
#schedule > .box1 > .txt-box::before{
  background: linear-gradient(0deg,rgba(52, 199, 89, 0.2) 0%, rgba(52, 199, 89, 0.4) 100%);
}
#schedule > .box2 > .txt-box::before{
  background: linear-gradient(0deg,rgba(255, 45, 85, 0.2) 0%, rgba(255, 45, 85, 0.4) 100%);
}
#schedule > .box3 > .txt-box::before{
  background: linear-gradient(0deg,rgba(255, 149, 0, 0.2) 0%, rgba(255, 149, 0, 0.4) 100%);
}
#schedule > .box4 > .txt-box::before{
  background: linear-gradient(0deg,rgba(88, 86, 214, 0.2) 0%, rgba(88, 86, 214, 0.4) 100%);
}

#schedule .box2 .txt-box .txt{
  display: flex;
  gap: 5px;
  align-items: center;
}
#schedule .box2 .txt-box .txt::after{
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background: url(../img/pattern/pattern_08.png) no-repeat center / cover;
}

#re-day #schedule > .box2 > .txt-box::before{
  background: linear-gradient(0deg,rgba(0, 122, 255, 0.2) 0%, rgba(0, 122, 255, 0.4) 100%);
}

#re-day #schedule .box2 .txt-box .txt::after{
  display: none;
}


#re-week > ul{
  padding: 20px 5px;
  border-bottom: 1px solid #ddd;
  position: relative;
  cursor: pointer;
}
#re-week > ul li:first-child{
  font-size: 1.6rem;
  font-weight: 500;
}

#re-week > ul .arrow{
  position: absolute;
  right: 5px;
  top: 30px;
  width: 10px;
  height: 5px;
  background: url(../img/main_img/arrow.png) no-repeat center / cover;
}

#re-week .no-repeat{
  margin-top: 20px;
  font-size: 1.2rem;
  color: #999;
}

#re-week #schedule{
  margin-bottom: 0;
}

#re-week .tue > li:first-child::after{
  content: "+ 1";
  display: block;
  font-size: 1.4rem;
  color: #5E90F1;
  position: absolute;
  top: 22px;
  margin-left: 50px;
}

#re-week .thu > li:first-child::after{
  content: "+ 2";
  display: block;
  font-size: 1.4rem;
  color: #5E90F1;
  position: absolute;
  top: 22px;
  margin-left: 50px;
}

#re-week #schedule > .box1 .txt-box::before{
  background: linear-gradient(0deg,rgba(88, 86, 214, 0.2) 0%, rgba(88, 86, 214, 0.4) 100%);
}

#re-month > ul{
  padding: 20px 5px;
  border-bottom: 1px solid #ddd;
  position: relative;
  cursor: pointer;
}
#re-month > ul li:first-child{
  font-size: 1.6rem;
  font-weight: 500;
}

#re-month > ul .arrow{
  position: absolute;
  right: 5px;
  top: 30px;
  width: 10px;
  height: 5px;
  background: url(../img/main_img/arrow.png) no-repeat center / cover;
}

#re-month #schedule{
  margin-bottom: 0;
}

#re-month #schedule .box2 .txt-box .txt::after{
  display: none;
}

#re-month #schedule .txt-box .txt{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 180px;
}

#re-month #schedule > .box1 .txt-box::before{
  background: linear-gradient(0deg,rgba(255, 204, 0, 0.2) 0%, rgba(255, 204, 0, 0.4) 100%);
}
#re-month #schedule > .box2 .txt-box::before{
  background: linear-gradient(0deg,rgba(153, 233, 229, 0.2) 0%, rgba(153, 233, 229, 0.4) 100%);
}
#re-month #schedule > .box3 .txt-box::before{
  background: linear-gradient(0deg,rgba(255, 45, 85, 0.2) 0%, rgba(255, 45, 85, 0.4) 100%);
}
#re-month #schedule > .box4 .txt-box::before{
  background: linear-gradient(0deg,rgba(162, 132, 94, 0.2) 0%, rgba(162, 132, 94, 0.4) 100%);
}